/*link to google font*/
@import url("https://fonts.googleapis.com/css?family=Quattrocento|Raleway|Roboto&display=swap");

/*link to components*/
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/card.css");



/*fonts and text*/

body{
	background-color: rgb(250,250,250,0.8);
	font-family: 'Quattrocento', serif;
	font-size: 18px;
	color: #3F3F3F; 
	text-align: justify;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #508D24;
}

a {
	text-decoration: none;
	color: #508D24;
	font-size: 16px;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
}

a:hover {
	color: #3F3F3F;
}



.btn-green{
	background-color: #4CAF50;
	padding: 10px;
	margin: 25px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;

}
.btn-green:hover{
	text-decoration:none;
	background-color: #3F3F3F;
	color: white;
}


/* Add background color of landing page to top navigation */

.topnav {
    /*background-color: rgb(250,250,250,0.8);*/
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #508D24;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
 /* background-color: rgb(250,250,250,0.8);*/
  color: #508D24;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}