.container-0 {
	width: 800px;
	margin: 0px auto; 
}


.container {
	width: 800px;
	margin: 0px auto;
}

@media (max-width:800px){
	.container{
		width: 700px;
	}
}

@media (max-width:600px){
	.container{
		width: 500px;
	}
@media (max-width: 500px){
	.container{
		width: 400px;
	}
}